@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --clr-primary: #18ffff;
  --clr-primary-light: #adffff;

--clr-primary-dark: #091034;

--clr-gray100: #f9fbff;

--clr-gray150: #f4f6fb;

--clr-gray200: #eef1f6;

--clr-gray300: #e1e5ee;

--clr-gray400: #767b91;

--clr-gray500: #4f546c;

--clr-gray600: #2a324b;

--clr-gray700: #161d34;

--clr-bg: #060b23;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(var(--foreground-rgb));
  background-color: #0c0c1d;
  color: lightgray;
}

input {
  border: 2px solid clr-gray300;
    border-radius: radius;
    font-family: inherit;
    font-size: inherit;
    color: white;
    outline: none;
    padding: 1.25rem;
    background: none;
}

    input:hover {
      border-color: clr-primary-light;
    }

    /* Change border when input focus*/

    input:focus {
      border-color: clr-primary;
    }